body {
	background-color: #362B3D;
}

#homepage {
	display: inline;
}

#welcome {
	font-family: "Courier New", "Courier", "monospace";
	font-size: 58px;
	color: lightpink;
	display: inline;
}

#thank-you-message {
	font-family: "Courier New", "Courier", "monospace";
	font-size: 32px;
	color: whitesmoke;
	text-align: justify;
}

#hearts {
	font-family: "Courier New", "Courier", "monospace";
	font-size: 32px;
	color: deeppink;
	text-align: center;
}

#socials {
	font-family: "Courier New", "Courier", "monospace";
	font-size: 16px;
	color: whitesmoke;
	text-align: center;
}

#testBttn {
	font-family: "Courier New", "Courier", "monospace";
	font-size: 32px;
	color: whitesmoke;
	text-align: center;
	border-radius: 8px;
	transition-duration: 0.4s;
	background-color: #3D2B3B;
	width: 35%;
	font-weight: bold;
}

#testBttn:hover {
	color: black;
	background-color: whitesmoke;
	border: 2px solid #3D2B32;
}

div.SocialsBox {
	display: block;
	text-align: center;
	position: fixed;
	bottom: 0px;
}

div.TakeTest {
	display: block;
	text-align: center;
}

div.WelcomeTxt {
	display: block;
	text-align: center;
}

div.Home {
	display: block;
}

div.Leaderboard{
	display: block;
	text-align: center;
}

#leaderboardBttn{
	font-family: "Courier New", "Courier", "monospace";
	font-size: 32px;
	color: whitesmoke;
	text-align: center;
	display: inline-block;
	border-radius: 4px;
	transition-duration: 0.4s;
	background-color: #3D2B3B;
	width: 20%;
	font-weight: bold;
	min-width: 150px;
}

#leaderboardBttn:hover {
	color: black;
	background-color: whitesmoke;
	border: 2px solid #3D2B32;
}

/* unvisited link */
a:link {
	color: hotpink;
	text-decoration: none;
}

/* visited link */
a:visited {
	color: mediumpurple;
	text-decoration: none;
}

/* mouse over link */
a:hover {
	color: indianred;
}

/* selected link */
a:active {
	color: whitesmoke;
}